@charset 'UTF-8';

// MODIFIED 2017-02-18: changing footer background to white text on primary
// color background
.footer-pane {
    background: $primary-color;
    padding-bottom: 1em;

    .footer-link {
        padding: 1.5em 1.5em 1em;

        &.copyright {
            color: $dark-gray;
            padding-right: 0;
        }
    }

    .footer-site-name {
        font-size: 14px;
        font-weight: bold;
        padding: 1.5em 0 1em;
        text-transform: uppercase;
    }

    a, a:hover {
        color: #fff
    }

}

// MODIFIED 2017-02-17: Changing footer height

.footer,
.footer-pane,
.footer-push {
    height: 60px;
}


